# --------------------------
# OS (macOS)
# --------------------------
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes

# --------------------------
# Java
# --------------------------
*.class
*.log
*.hprof
hs_err_pid*
replay_pid*

# --------------------------
# Maven
# --------------------------
target/

# --------------------------
# IntelliJ IDEA
# --------------------------
.idea/
*.iml
*.iws
*.ipr
out/

# --------------------------
# VS Code (opcional)
# --------------------------
.vscode/

# --------------------------
# Reports / Coverage
# --------------------------
jacoco.exec
*.exec
target/site/
target/pit-reports/

# --------------------------
# Logs
# --------------------------
logs/
log/
*.log

# --------------------------
# Env / Secrets
# --------------------------
.env
*.env
.env.*
!.env.example

# --------------------------
# Temp files / Editors
# --------------------------
*.swp
*.swo
*~
